<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <title>Customers</title>
</head>

<body>

    <nav th:replace="base/navbar :: nav_bar"></nav>
    <br>
    <div class="container">
        <div class="row">
            <div>
                <h1>Customers List</h1>
            </div>
            <div class="ml-auto">
                <h1><a th:href="@{/customers/register}" class="btn btn-info">Register</a></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="form-inline" th:action="@{/customers}" method="GET">
                <div class="form-group mb-2">
                    <label for="keyword">Filter by</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="keyword" class="form-control" id="keyword" th:value="${keyword}"
                        placeholder="Type name, surname or id" required>
                </div>
                <button class="btn btn-info btn-success mb-2 mr-2">Search</button>
                <a th:if="${keyword!=null}" class="btn btn-secondary mb-2 mr-2" th:href="@{/customers}">Clean</a>
            </form>
            <form class="form-inline" th:action="@{/customers}" method="GET">
                <div class="form-group mb-2">
                    <label for="categoryNumber">Category</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <select name="categoryNumber" id="categoryNumber" th:value="${categoryNumber}"
                        class="form-select form-control" required>
                        <option value="" selected>Select category</option>
                        <option th:each="category : ${categories}" th:value="${category}" th:text="${category}">
                        </option>
                    </select>
                </div>
                <button class="btn btn-info btn-success mb-2 mr-2">Search</button>
                <a th:if="${categoryNumber!=null}" class="btn btn-secondary mb-2 mr-2" th:href="@{/customers}">Clean</a>
            </form>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>First Surname</th>
                        <th>Second Surname</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Category</th>
                        <th>Id</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}" th:object="${customer}">
                        <td th:text="*{lastName1}"></td>
                        <td th:text="*{lastName2}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{city}"></td>
                        <td th:text="*{category}"></td>
                        <td th:text="*{id}"></td>
                        <td>
                            <a th:href="@{/customers/update/{id}(id=*{id})}" class="btn btn-info">Manage</a>
                            <a th:if="*{orders.isEmpty}" th:href="@{/customers/delete/{id}(id=*{id})}"
                                class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${customers.isEmpty}" class="row justify-content-center">
            <h4>Empty search</h4>
        </div>
    </div>

</body>

</html>