<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <title>All customers and orders</title>
</head>

<body>
    <nav th:replace="base/navbar :: nav_bar"></nav>
    <br>
    <div class="container">
        <div class="row">
            <h1>All Customers and orders</h1>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>First Surname</th>
                        <th>Second Surname</th>
                        <th>City</th>
                        <th>Category</th>
                        <th>Order id</th>
                        <th>Quantity</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${list}">
                        <td th:text="${row.get('name')}"></td>
                        <td th:text="${row.get('lastname1')}"></td>
                        <td th:text="${row.get('lastname2')}"></td>
                        <td th:text="${row.get('city')}"></td>
                        <td th:text="${row.get('category')}"></td>
                        <td th:text="${row.get('id')}"></td>
                        <td th:text="${row.get('quantity')}"></td>
                        <td th:text="${row.get('date')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${list.isEmpty}" class="row justify-content-center">
            <h4>Empty</h4>
        </div>
    </div>
</body>

</html>