<nav th:fragment="nav_bar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/index}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/customers}">Customers Management</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/sellers}">Sellers Management</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders Management</a></li>
        </ul>
    </div>
</nav>